.container {
    width: 1280px;
    margin: 0 auto;
}
.head-title {
    font-size: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 63px 0 38px;
}
.head-title-link-part {
    color: rgb(57, 202, 255);
}
.head-menu {
    display: flex;
    justify-content: center;
    background-color: #35444F;
    padding: 27px 0;
}
.head-menu-link {
    padding: 24px 20px;
    border-left: 1px solid #fff;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    transition: 0.5s;
}
.last-item {
    border-right: 1px solid #fff;
}
.head-menu-link:hover{
    background-color: #222F3A;
}
.main-menu {
    display: flex;  
    flex-direction: column;
    margin-top: 50px;
    border: 1px solid #000;
    height: 395px;
    width: 350px;
}
.main-menu-link {
    color: #485863;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 27px;
}
.main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-menu-item {
    padding: 26px 82px 26px 44px;
    transition: 0.5s;
}
.main-menu-item:hover {
    background-color: #DBDBDB;
    padding-left: 60px;
}
.image{
    border: 1px solid #000;
    padding: 75px 270px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    transition: 0.5s;
}
.image:hover img {
    transform: scale(1.1);
}
.text {
    margin: 37px 0 54px 420px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #2C2C2C;
}
.text-two {
    margin-top: 34px;
}
.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(99, 105, 110, 0.48);
    padding: 20px 0;
    margin-bottom: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.foot-menu {
    display: flex;
    font-size: 28px;
    color: #0C1927;
}
.foot-menu-item {
    padding-left: 40px;
}
.foot-menu-link {
    transition: 0.5s;
}
.foot-menu-link:hover {
    color: rgb(43, 141, 177);
    text-decoration: underline;
}
.copy {
    padding-right: 40px;
    font-size: 24px;
    color: #010101;;
}